In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
%pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.4 MB)
Requirement already satisfied: numpy>=1.19.5 in /media/syke/Colorful/Github/xlnet/.venv/lib/python3.10/site-packages (from scikit-learn) (2.1.1)
Collecting joblib>=1.2.0
  Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Collecting threadpoolctl>=3.1.0
  Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Collecting scipy>=1.6.0
  Downloading scipy-1.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 MB 740.2 kB/s eta 0:00:0000:0100:02
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.1 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_csv('./DATASETS.csv')
df

,ID,Text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Murder,Homicide,Robbery,Physical Injuries,Rape,Theft,Carnapping,Others
0,1,i was 6 years old at my babysitters house afte...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0
1,2,at a grand opening of a packed sports bar duri...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0
2,3,a couple of guys are standing at a high table ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0
3,4,when i was 10 my uncle deliberately murdered m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0
4,5,while working at off campus residences during ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,a local resident reported seeing suspicious ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1
3996,3997,while walking through the forest i discovered ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1
3997,3998,i was coming home from work when i saw a group...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1
3998,3999,i was in my living room when i heard a loud sh...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1
3999,4000,i was at the park with my child when i noticed...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1

In [10]:
# remove extra columns
df.drop(df.columns[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]], axis=1, inplace=True)

df.to_csv("dataset-v2.csv", encoding='utf-8', index=False, header=True)
df

,ID,Text,Murder,Homicide,Robbery,Physical Injuries,Rape,Theft,Carnapping,Others
0,1,i was 6 years old at my babysitters house afte...,1,0,0,0,0,0,0,0
1,2,at a grand opening of a packed sports bar duri...,1,0,0,0,0,0,0,0
2,3,a couple of guys are standing at a high table ...,1,0,0,0,0,0,0,0
3,4,when i was 10 my uncle deliberately murdered m...,1,0,0,0,0,0,0,0
4,5,while working at off campus residences during ...,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
3995,3996,a local resident reported seeing suspicious ac...,0,0,0,0,0,0,0,1
3996,3997,while walking through the forest i discovered ...,0,0,0,0,0,0,0,1
3997,3998,i was coming home from work when i saw a group...,0,0,0,0,0,0,0,1
3998,3999,i was in my living room when i heard a loud sh...,0,0,0,0,0,0,0,1
3999,4000,i was at the park with my child when i noticed...,0,0,0,0,0,0,0,1

In [33]:
# split raw dataset into three
# goal is to get a 60 30 10 split
# first divide 60-40, then divide 40 into 30 10

train, test = train_test_split(df, test_size=0.4, train_size=None, random_state=42, shuffle=True, stratify=None)
test, val = train_test_split(test, test_size=0.25, train_size=None, random_state=42, shuffle=True, stratify=None)

In [29]:
df.shape

(4000, 10)

In [34]:
train

,ID,Text,Murder,Homicide,Robbery,Physical Injuries,Rape,Theft,Carnapping,Others
1494,1495,i was preparing to go to bed when i heard a lo...,0,0,1,1,0,0,0,0
353,354,one evening i was watching television when i h...,1,0,0,0,0,0,0,0
1232,1233,taking a shortcut home across a dark footbridg...,0,0,1,0,0,0,0,0
613,614,i was the designated driver that night so i wa...,0,1,0,0,0,0,0,0
3506,3507,a cousin of mine was kidnapped as a baby by hi...,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
1130,1131,late one night i was watching tv when i heard ...,0,0,1,0,0,0,0,0
1294,1295,while lounging by the pool i saw a man pacing ...,0,0,1,0,0,0,0,0
860,861,the couple next door had always been volatile ...,0,1,0,0,0,0,0,0
3507,3508,a friend of mine was kidnapped while doing his...,0,0,0,0,0,0,0,1
3174,3175,i noticed an unmarked delivery van in our offi...,0,0,0,0,0,0,1,0

In [35]:
test

,ID,Text,Murder,Homicide,Robbery,Physical Injuries,Rape,Theft,Carnapping,Others
976,977,i had just stepped out of my house when i saw ...,0,1,0,0,1,0,0,0
2016,2017,she was staying at a friends house when the fr...,0,0,0,0,1,0,0,0
44,45,"in mexico 2010, my dad shot and killed a man w...",1,0,0,0,0,0,0,0
997,998,he told me he didn’t mean for it to go that fa...,0,1,0,0,1,0,0,0
3284,3285,at bondi beach i parked my car on a side stree...,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
1322,1323,"as vendors packed up for the day, i heard a sh...",0,0,1,0,0,0,0,0
3236,3237,during a long conference I take a break to loo...,0,0,0,0,0,0,1,0
3515,3516,i was almost kidnapped in jamaica i was six ye...,0,0,0,0,0,0,0,1
1882,1883,i was about to go to bed when i heard a loud n...,0,0,1,1,0,0,0,0
2366,2367,i remember seeing him that night walking up an...,1,0,0,0,1,0,0,0

In [36]:
val

,ID,Text,Murder,Homicide,Robbery,Physical Injuries,Rape,Theft,Carnapping,Others
2730,2731,during a boxing match i see a man unnoticeably...,0,0,0,0,0,1,0,0
1510,1511,he hit her with a frying pan when she tried to...,0,0,0,1,0,0,0,0
229,230,a teenager i used to babysit had a sick plan w...,1,0,0,0,0,0,0,0
2425,2426,he forced his way into the house and immediate...,0,0,0,1,1,0,0,0
543,544,after a hockey game one dad got into an argume...,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1089,1090,i was walking down the street when a man appro...,0,0,1,0,0,0,0,0
2213,2214,the woman was at a vacation rental when a stra...,0,0,0,0,1,0,0,0
2706,2707,during busy day at office i notice a temp work...,0,0,0,0,0,1,0,0
2877,2878,i was on a crowded subway train my thoughts oc...,0,0,0,0,0,1,0,0
3407,3408,it was a warm afternoon and i decided to take ...,0,0,0,0,0,0,1,0

In [52]:
columns = df.columns.values
LABELS = [label for label in columns if label not in ('ID', 'Text')]
LABELS

['Murder',
 'Homicide',
 'Robbery',
 'Physical Injuries',
 'Rape',
 'Theft',
 'Carnapping',
 'Others']

In [53]:
dataset_directory = 'dataset'
train.to_csv("train.csv", encoding='utf-8', index=False, header=True)
test.to_csv("test.csv", encoding='utf-8', index=False, header=True)
val.to_csv("val.csv", encoding='utf-8', index=False, header=True)

In [64]:
train['Text'].get(1)

'at a grand opening of a packed sports bar during the pacquiao-algieri fight chaos erupted when a patron was denied reentry by the bouncer angry the man left returned with a gun and intentionally shot the bouncer in the head the bar descended into panic as people hit the floor or fled my friends and i waited until it was safe then left stepping over the dead bouncer'

# Preprocessor

In [1]:
import re

In [37]:
def preprocess_text(text):

    # lowercase
    text = text.lower()
    
    # remove links
    text = re.sub(r'http[s]?://\S+', '', text)

    # TODO: expand contractions

    # remove non-alphabet characters
    text = re.sub(r'[^a-zA-Z]', ' ', text)

    text = " ".join(text.split())

    # TODO:stemming and lemmatization (search if necessary) 
    # TODO:correct mispelling (optional)
    
    return text

In [38]:
preprocess_text("  Hssello  , ''\s\s\s/  world \t https://flexiple.com/python/remove-non-alphanumeric-characters-python when i was 13 i saw a man smacking his pregnant girlfriend and a group of men jumping another guy one of them pulled a gun and shot him it was a calculated attack then they drove away a year later i saw two men shoot a guy through his car windshield the shooters were undercover officerswhen i was 13 i saw a man smacking his pregnant girlfriend and a group of men jumping another guy one of them pulled a gun and shot him it was a calculated attack then they drove away a year later i saw two men shoot a guy through his car windshield the shooters were undercover officers")

'hssello s s s world when i was i saw a man smacking his pregnant girlfriend and a group of men jumping another guy one of them pulled a gun and shot him it was a calculated attack then they drove away a year later i saw two men shoot a guy through his car windshield the shooters were undercover officerswhen i was i saw a man smacking his pregnant girlfriend and a group of men jumping another guy one of them pulled a gun and shot him it was a calculated attack then they drove away a year later i saw two men shoot a guy through his car windshield the shooters were undercover officers'